<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{meta_title}}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="{{asset 'css/style.css'}}" rel="stylesheet" />
  <link href="{{asset 'css/colors-dark.css'}}" rel="stylesheet" />

  {{ghost_head}}

</head>

<body class="{{body_class}}">



  {{#if @site.cover_image}}
    <div id="coverimg" style="background-image: url({{@site.cover_image}})"></div>
  {{/if}}



  <header id="header">
    {{#if @site.logo}}
      <a id="blog-logo" href="{{@site.url}}"><img src="{{@site.logo}}" /></a>
    {{else}}
      <h1><a href="{{@site.url}}"><i class="icon-sun"></i> {{@site.title}}</a></h1>
    {{/if}}
    <p>{{@site.description}}</p>
  </header>



  <div id="page">



    <div id="sidebar">

      <nav>
        <ul>
          <li><a href="{{@site.url}}">Home</a></li>
          {{#if twitter}}
          <li><a href="{{twitter_url}}">Twitter</a></li>
          {{/if}}
          <li><a href="{{@site.url}}/rss/">RSS Feed</a></li>
        </ul>
      </nav>

      {{#post}}
      {{#if primary_author}}
        <div class="bio">
          <img class="avatar" src="{{primary_author.profile_image}}" />
          <h3>{{primary_author.name}}</h3>
          <p>{{primary_author.bio}}</p>
        </div>
      {{/if}}
      {{/post}}

    </div>



    <div id="content">
      {{{body}}}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{date format='YYYY'}} {{@site.title}}. Powered by <a href="http://ghost.org">Ghost</a>, theme by <a href="http://www.webmaster-source.com">Matt Harzewski</a></p>
  </footer>



  {{ghost_foot}}

  <script src="{{asset 'js/jquery.mobilemenu.min.js'}}"></script>
  <script src="{{asset 'js/prism.js'}}"></script>
  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>



</body>
</html>
